button {
    padding:10px;
    background-color:blue;
    border: none;
    outline:none;
    border-radius: 10px;
    font-weight:500;
    font-size: large;
    background: linear-gradient(90deg, black ,white);
    transition: all 5s ease-out;
}

button:hover{
    background-color: wheat;
    background: none;

}

